extends base 
//- http://127.0.0.1:8000/search?key=Darbdavys2


block content 

  main.main
    h1=skelbimai.darboSritis
    form.paieskaPagalRaktiniZodi(action='/search?' method='GET')
      label(for='paieskaPagalRaktiniZodi') Key Word:        
      
      input#key(type='text' name='key')
      br
      label Miestas:       
      select#city(name='city')   
        option(value='') VISI MIESTAI 
        option(value='Vilnius') Vilnius
        option(value='Kaunas') Kaunas
        option(value='Klaipeda') Klaipeda
        option(value='Siauliai') Šiauliai
        option(value='Panevezys') Panevežys
        option(value='Akmene') Akmen&edot;
        option(value='Alytus') Alytus
        option(value='Anyksciai') Anyk&scaron;&ccaron;iai
        option(value='Birstonas') Bir&scaron;tonas
        option(value='Birzai') Bir&zcaron;ai
        option(value='Druskininkai') Druskininkai
        option(value='Elektrenai') Elektr&edot;nai
        option(value='Gargzdai') Garg&zcaron;dai
        option(value='Ignalina') Ignalina
        option(value='Jonava') Jonava
        option(value='Joniskis') Joni&scaron;kis
        option(value='Jurbarkas') Jurbarkas
        option(value='Kaisiadorys') Kai&scaron;iadorys
        option(value='Kalvarija') Kalvarija
        option(value='Kazlu Ruda') Kazl&uogon; R&umacr;da
        option(value='Kedainiai') K&edot;dainiai
        option(value='Kelme') Kelm&edot;
        option(value='Krekenava') Krekenava
        option(value='Kretinga') Kretinga
        option(value='Kupiskis') Kupi&scaron;kis
        option(value='Kursenai') Kur&scaron;&edot;nai
        option(value='Lazdijai') Lazdijai
        option(value='Lentvaris') Lentvaris
        option(value='Marijampole') Marijampol&edot;
        option(value='Mazeikiai') Ma&zcaron;eikiai
        option(value='Moletai') Mol&edot;tai
        option(value='Naujoji Akmene') Naujoji Akmen&edot;
        option(value='Nemencine') Nemen&ccaron;in&edot;
        option(value='Neringa') Neringa
        option(value='Pabbrade') Pabrad&edot;
        option(value='Pagegiai') Pag&edot;giai
        option(value='Pakruojis') Pakruojis
        option(value='Palanga') Palanga
        option(value='Pasvalys') Pasvalys
        option(value='Plunge') Plung&edot;
        option(value='Prienai') Prienai
        option(value='Radviliskis') Radvili&scaron;kis
        option(value='Raseiniai') Raseiniai
        option(value='Rietavas') Rietavas
        option(value='Rokiskis') Roki&scaron;kis
        option(value='Sakiai') &Scaron;akiai
        option(value='Salcininkai') &Scaron;al&ccaron;ininkai
        option(value='Silale') &Scaron;ilal&edot;
        option(value='Silute') &Scaron;ilut&edot;
        option(value='Sirvintos') &Scaron;irvintos
        option(value='Skuodas') Skuodas
        option(value='Svencionys') &Scaron;ven&ccaron;ionys
        option(value='Taurage') Taurag&edot;
        option(value='Telsiai') Tel&scaron;iai
        option(value='Trakai') Trakai
        option(value='Ukmerge') Ukmerg&edot;
        option(value='Utena') Utena
        option(value='Varena') Var&edot;na
        option(value='Vievis') Vievis
        option(value='Vilkaviskis') Vilkavi&scaron;kis
        option(value='Visaginas') Visaginas
        option(value='Zarasai') Zarasai
 
      br
      label Darbo sritis :
       select#sritis(name='sritis')

        option(value='') VISOS SRITYS
        option(value='Administravimas') Administravimas/darb&uogon; sauga
        option(value='Apsauga') Apsauga
        option(value='Dizainas') Dizainas/architekt&umacr;ra
        option(value='Draudimas') Draudimas
        option(value='Eksportas') Eksportas
        option(value='Energetika') Energetika/elektronika
        option(value='Finansai') Finansai/apskaita/bankininkyst&edot;
        option(value='Gamyba') Gamyba
        option(value='IT') Informacin&edot;s technologijos
        option(value='Inzinerija') In&zcaron;inerija/mechanika
        option(value='KlientuAptarnavimas') Klient&uogon; aptarnavimas/paslaugos
        option(value='MaistoGamyba') Maisto gamyba
        option(value='Marketingas') Marketingas/reklama
        option(value='Medicina') Medicina/farmacija
        option(value='NekilnojamasTuras') Nekilnojamasis turtas
        option(value='Pardavimai') Pardavim&uogon; vadyba
        option(value='PersonaloValdymas') Personalo valdymas
        option(value='Pirkimai') Pirkimai/tiekimas
        option(value='Prekya') Prekyba - konsultavimas
        option(value='Sandeliavimas') Sand&edot;liavimas
        option(value='Statyba') Statyba
        option(value='Svietimas') &Scaron;vietimas/mokymai/kult&umacr;ra
        option(value='Teise') Teis&edot;
        option(value='TransportoVairavimas') Transporto vairavimas
        option(value='Logistika') Transporto/logistikos vadyba
        option(value='VadovavimasKokybesVadyba') Vadovavimas/kokyb&edot;s vadyba
        option(value='ValstybesTarnyba') Valstyb&edot;s tarnyba
        option(value='ZemesUkis') &Zcaron;em&edot;s &umacr;kis
        option(value='Ziniasklaida') &Zcaron;iniasklaida/komunikacija
      button(type='submit' value='Submit' )
    .container 
      .row Skelbimo pavadinimas
      .row Įmonė
      .row Atlyginimas bruto 
      .row Miestas
      .row Skelbimas sukurtas
    each skelbimas in skelbimai
      a.eiti-i-skelbima(href=`/skelbimas/${skelbimas.id}`)
        .flex-grid
          .col= skelbimas.pavadinimas
          .col= skelbimas.imone
          .col= `${skelbimas.atlyginimas} €`
          .col= skelbimas.miestas
          .col= skelbimas.createdAt
          //- a.btn.btn--green.btn--small(href=`/skelbimas/${skelbimas.id}`) Details
  
    //- .card-container 
      
        //- .card
        //-   .card__header
        //-     .card__picture
        //-       .card__picture-overlay &nbsp;
        //-       //- img.card__picture-img(src=, alt=)
        //-     h3.heading-tertirary
        //-       span

        //-   .card__details
        //-     h4.card__sub-heading
        //-     p.card__text
        //-     .card__data
        //-       svg.card__icon
        //-         use(xlink:href='img/icons.svg#icon-map-pin')
        //-       span
        //-     .card__data
        //-       svg.card__icon
        //-         use(xlink:href='img/icons.svg#icon-calendar')
        //-       span
        //-     .card__data
        //-       svg.card__icon
        //-         use(xlink:href='img/icons.svg#icon-flag')
        //-       span
        //-     .card__data
        //-       svg.card__icon
        //-         use(xlink:href='img/icons.svg#icon-user')
        //-       span people

        //-   .card__footer
        //-     p
        //-       span.card__footer-value
        //-       | 
        //-       span.card__footer-text per person
        //-     p.card__ratings
        //-       span.card__footer-value
        //-       | 
        //-       span.card__footer-text
            //- a.btn.btn--green.btn--small(href='#') Details