extends base 
//- http://127.0.0.1:8000/search?key=Darbdavys2

block content 

  main.main
    .paieskosForma
      form.paieskaPagalRaktiniZodi(action='/?' method='GET')
        .row.g-4.align-items-center
          .col
            label(for='paieskaPagalRaktiniZodi') 
            input#key.form-control(type='text' name='key' placeholder='Raktinis žodis' )
          .col
            label
            select#city.form-control(name='city' type='text' placeholder='Miestas' )
              option(value='') VISI MIESTAI 
              option(value='Vilnius') Vilnius
              option(value='Kaunas') Kaunas
              option(value='Klaipėda') Klaipėda
              option(value='Šiauliai') Šiauliai
              option(value='Panevezys') Panevežys
              option(value='Akmenė') Akmen&edot;
              option(value='Alytus') Alytus
              option(value='Anykščiai') Anyk&scaron;&ccaron;iai
              option(value='Birštonas') Bir&scaron;tonas
              option(value='Biržai') Bir&zcaron;ai
              option(value='Druskininkai') Druskininkai
              option(value='Elektrenai') Elektr&edot;nai
              option(value='Gargždai') Garg&zcaron;dai
              option(value='Ignalina') Ignalina
              option(value='Jonava') Jonava
              option(value='Joniškis') Joni&scaron;kis
              option(value='Jurbarkas') Jurbarkas
              option(value='Kaišiadorys') Kai&scaron;iadorys
              option(value='Kalvarija') Kalvarija
              option(value='Kazlų Rūda') Kazl&uogon; R&umacr;da
              option(value='Kėdainiai') K&edot;dainiai
              option(value='Kelmė') Kelm&edot;
              option(value='Krekenava') Krekenava
              option(value='Kretinga') Kretinga
              option(value='Kupiškis') Kupi&scaron;kis
              option(value='Kuršenai') Kur&scaron;&edot;nai
              option(value='Lazdijai') Lazdijai
              option(value='Lentvaris') Lentvaris
              option(value='Marijampolė') Marijampol&edot;
              option(value='Mažeikiai') Ma&zcaron;eikiai
              option(value='Molėtai') Mol&edot;tai
              option(value='Naujoji Akmenė') Naujoji Akmen&edot;
              option(value='Nemenčinė') Nemen&ccaron;in&edot;
              option(value='Neringa') Neringa
              option(value='Pabradė') Pabrad&edot;
              option(value='Pagėgiai') Pag&edot;giai
              option(value='Pakruojis') Pakruojis
              option(value='Palanga') Palanga
              option(value='Pasvalys') Pasvalys
              option(value='Plungė') Plung&edot;
              option(value='Prienai') Prienai
              option(value='Radviliškis') Radvili&scaron;kis
              option(value='Raseiniai') Raseiniai
              option(value='Rietavas') Rietavas
              option(value='Rokiškis') Roki&scaron;kis
              option(value='Šakiai') &Scaron;akiai
              option(value='Šalčininkai') &Scaron;al&ccaron;ininkai
              option(value='Šilalė') &Scaron;ilal&edot;
              option(value='Šilutė') &Scaron;ilut&edot;
              option(value='Širvintos') &Scaron;irvintos
              option(value='Skuodas') Skuodas
              option(value='Švencionys') &Scaron;ven&ccaron;ionys
              option(value='Tauragė') Taurag&edot;
              option(value='Telšiai') Tel&scaron;iai
              option(value='Trakai') Trakai
              option(value='Ukmergė') Ukmerg&edot;
              option(value='Utena') Utena
              option(value='Varėna') Var&edot;na
              option(value='Vievis') Vievis
              option(value='Vilkaviškis') Vilkavi&scaron;kis
              option(value='Visaginas') Visaginas
              option(value='Zarasai') Zarasai    
          .col
            label 
            select#sritis.form-control(name='sritis' placeholder='Darbo sritis' )
              option(value='') VISOS SRITYS
              option(value='Administravimas') Administravimas/darb&uogon; sauga
              option(value='Apsauga') Apsauga
              option(value='Dizainas') Dizainas/architekt&umacr;ra
              option(value='Draudimas') Draudimas
              option(value='Eksportas') Eksportas
              option(value='Energetika') Energetika/elektronika
              option(value='Finansai') Finansai/apskaita/bankininkyst&edot;
              option(value='Gamyba') Gamyba
              option(value='IT') Informacin&edot;s technologijos
              option(value='Inzinerija') In&zcaron;inerija/mechanika
              option(value='KlientuAptarnavimas') Klient&uogon; aptarnavimas/paslaugos
              option(value='MaistoGamyba') Maisto gamyba
              option(value='Marketingas') Marketingas/reklama
              option(value='Medicina') Medicina/farmacija
              option(value='NekilnojamasTuras') Nekilnojamasis turtas
              option(value='Pardavimai') Pardavim&uogon; vadyba
              option(value='PersonaloValdymas') Personalo valdymas
              option(value='Pirkimai') Pirkimai/tiekimas
              option(value='Prekya') Prekyba - konsultavimas
              option(value='Sandeliavimas') Sand&edot;liavimas
              option(value='Statyba') Statyba
              option(value='Svietimas') &Scaron;vietimas/mokymai/kult&umacr;ra
              option(value='Teise') Teis&edot;
              option(value='TransportoVairavimas') Transporto vairavimas
              option(value='Logistika') Transporto/logistikos vadyba
              option(value='VadovavimasKokybesVadyba') Vadovavimas/kokyb&edot;s vadyba
              option(value='ValstybesTarnyba') Valstyb&edot;s tarnyba
              option(value='ZemesUkis') &Zcaron;em&edot;s &umacr;kis
              option(value='Ziniasklaida') &Zcaron;iniasklaida/komunikacija
          .col.filtruotiMygtukas
            button.btn.btn-outline-success.my-2.my-sm-0(type='submit' value='Submit' ) Ieškoti

    each skelbimas in skelbimai
      .container-md.my-container
        a.eiti-i-skelbima(href=`/skelbimas/${skelbimas.id}`)
          .row.my-row
            .col-md-6.border-offset-md-1.my-col.fixOverflow.pareiguPavadinimas= skelbimas.pareiguPavadinimas
              .col-md-8.my-col.fixOverflow.skelbimoImone= skelbimas.imone

            .col-md-2.my-col.fixOverflow.skelbimoAtlyginimas= `${skelbimas.atlyginimas} €`
              .col-md-2.my-col.fixOverflow.skelbimoAtlyginimoTipas

              -if(skelbimas.atlyginimoTipas === 'bruto')
                //- style(type='text/css').
                //-   .skelbimoAtlyginimas{
                //-   color: #FF9966
                //-     }
                .skelbimoAtlyginimoTipas Neatskaičius mokesčių

              -if(skelbimas.atlyginimoTipas === 'neto')
                //- style(type='text/css').
                //-   .skelbimoAtlyginimas{
                //-   color: #66FF99;

                //-     }
                .skelbimoAtlyginimoTipas Atskaičius mokesčius



            .col-md-2.my-col.fixOverflow.skelbimoMiestas= skelbimas.miestas

            .col-md-2.my-col.fixOverflow.skelbimasSukurtas= skelbimas.createdAt
  div.d-flex.justify-content-center
    .row.g-3
      if current > 1
        //- .col
        //-   if keyURL 
        //-     a(href=`${currentURLSplit}&page=${parseInt(current) - 1}`) <<
        //-   if !keyURL
        //-     a(href=`?page=${parseInt(current) - 1}`) <<
        //-   //- a(href=`?page=${parseInt(current) - 1}`) <<
        //-   //- a(href=`?page=${parseInt(current) - 1}`) Previous
      - let i = 1
      while i <= pages
        .col
          if keyURL 
            a(href=`${currentURLSplit}&page=${i}`)= i++
            
          if !keyURL

            a(href=`?page=${i}`)= i++
          
      //- if current < pages
      //-   .col
      //-   if keyURL 
      //-     a(href=`${currentURLSplit}&page=${parseInt(current) + 1}`) >>
      //-   if !keyURL
      //-     a(href=`?page=${parseInt(current) + 1}`) >>
      //-     //- a(href=`?page=${parseInt(current) + 1}`) Next



